<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>load</title>
    <link rel="stylesheet" href="../public/stylesheet/styles.css"/>
</head>
<body>


         <div class="container">
                <div class="card">
                     <form action="/load" method="get" encType="multipart/form-data">
                    <input type="file" id="file" class="filedata" />
                    </form>
                </div>
            </div>
        <script  src="../public/load.js"></script>
       </body>

</html>
