/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */

body {
  /* background-color: rgb(253, 253, 253); */
  background-image: url(/img/2.jpg);
  margin-top: 100px;
  margin-bottom: 100px;
  /* font-family: 'Comfortaa', cursive; */
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: inherit;
}

/* ------------ start ------------ */
.start_content {
  display: flex;
  flex-direction: column;
}

.start_container {
  display: flex;
  justify-content: center;
}

.start_img {
  border-radius: 20px;
  width: 600px;
  height: 400px;
  background-image: url(/img/wat.jpeg);
  transition: 500ms;
}

.start_img:hover {
  background-image: url(/img/3.jpeg);
  background-size: cover;
  transition: 500ms;
}

.start_btn {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn_log {
  width: 270px;
  height: 60px;
  background-color: rgb(2, 179, 162);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  padding: 5px 10px;
}

.btn_log:hover {
  background-color: rgb(207, 63, 192);
  transition: 500ms;
}

.btn_reg {
  width: 270px;
  height: 60px;
  background-color: rgb(193, 51, 167);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  padding: 5px 10px;
}

.btn_reg:hover {
  background-color: rgb(15, 181, 196);
  transition: 500ms;
}

.start_title {
  min-height: 100px;
  background-color: #fff;
  border-radius: 10px;
  opacity: 60%;
}

.h1_center {
  text-align: center;
  padding-top: 30px;
  letter-spacing: 4px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 50px;
  color: rgb(0, 255, 217);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* ------------ reg ------------ */
.reg {
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 30px;
  background-color: rgb(253, 253, 253);
  opacity: 80%;
  margin: 50px 300px;
  padding-top: 50px;
  padding-bottom: 60px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.797);
  min-width: 500px;
  min-height: 500px;
  font-size: 20px;
  /* font-family: sans-serif; */
  letter-spacing: 2px;
  color: rgb(0, 8, 8);
}



.reg_content {
  margin-bottom: 20px;
}

.reg_text {
  font-size: 25px;
  font-weight: 600;
}

.reg_input {
  min-width: 300px;
  height: 40px;
  border-radius: 5px;
  font-size: 25px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

.reg_input_radio {
  width: 30px;
  height: 30px;
}

.btn_reg_log {
  min-width: 350px;
  height: 60px;
  background-color: rgb(193, 51, 167);
  color: rgb(255, 255, 255);
  font-size: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  padding: 5px 10px;
  margin-right: 0;
}

.btn1 {
  width: 270px;
  height: 60px;
  background-color: rgb(81, 116, 80);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  padding: 5px 10px;
}


.btn_reg_log:hover,
.btn1:hover {
  background-color: rgb(2, 179, 162);
}

.h1 {
  text-transform: uppercase;
}

.rename {
  font-family: 'Comfortaa', cursive;
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: 3px solid rgb(230, 222, 1); */
  border-radius: 30px;
  background-color: rgb(242, 242, 86);
  opacity: 80%;
  /* margin: 50px 500px; */
  padding-top: 50px;
  padding-bottom: 60px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.797);
  /* min-height: 500px; */
  font-size: 50px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: rgb(0, 8, 8);
}

.header {
  border-radius: 20px;
}

.role {
  background-color: antiquewhite;
  border: 2px solid rgb(193, 51, 167);
  border-radius: 50px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn_nav {
  min-width: 300px;
  height: 60px;
  background-color: rgb(193, 51, 167);
  color: rgb(255, 255, 255);
  font-size: 15px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  padding: 5px 10px;
  margin-right: 10px;
}
.btn_nav:hover {
  background-color: rgb(2, 179, 162);
}