@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: rgb(253, 253, 253);
  /* background-image: url(https://static.vecteezy.com/system/resources/previews/003/185/405/original/geometric-pattern-design-modern-floral-white-background-free-vector.jpg); */
}

/* ------------ reg ------------ */
.reg {
  display: flex;
  justify-content: center;
  text-align: center;
  /* border: 3px solid rgb(19, 192, 169); */
  border-radius: 30px;
  margin: 20px 500px;
  box-shadow: 0 0 40px rgba(20, 161, 133, 0.797);
  min-height: 500px;
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 2px;
  color: rgb(15, 50, 48);
  ;
}

.reg_content {
  margin-bottom: 20px;
}

.reg_text {
  font-size: 25px;
  font-weight: 600;
}

.reg_input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  font-size: 20px;
}

.reg_input_radio {
  width: 30px;
  height: 30px;
}

.btn {
  width: 260px;
  height: 60px;
  background-color: rgb(187, 96, 170);
  color: rgb(255, 255, 255);
  font-size: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  padding: 5px 10px;
}

.btn:hover {
  background-color: rgb(1, 150, 135);
}